*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family:'Inter', sans-serif;
    }    

    body{
background-color: rgba(159, 159, 159, 1);
    }
    
.main{
    width: 559px;
    height: 569px;
    background-color: white;
    margin: 0 auto;
    margin-top: 131px;
    border-radius: 12px;
}

.main-h1{
font-size: 34px;
font-weight: 700;
line-height: 41px;
letter-spacing: 0em;
text-align: left;
padding-top: 37px;
padding-left: 36px;
}

.input-1 {
    border: none;
    border-bottom: 2px solid rgba(117, 117, 117, 1);
    background-color: transparent;
    color: inherit;
    outline: none;
    background: url(/email.png) 0px -3px;   
    background-repeat: no-repeat;   
    padding-left: 41px;
    width: 476px;
    margin-left: 36px;
    margin-top: 75px;
    padding-bottom: 15px;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;

}

.input-2 {
    border: none;
    border-bottom: 2px solid rgba(117, 117, 117, 1);
    background-color: transparent;
    color: inherit;
    outline: none;
    background: url(/lock.png) 0px -3px, url(/eye-off.png) 440px -3px;   
    background-repeat: no-repeat;   
    padding-left: 41px;
    width: 476px;
    margin-left: 36px;
    margin-top: 55px;
    padding-bottom: 15px;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;
}

.main-input{
    margin-left: 36px;
    margin-top: 0px;
}

.main-p{
    padding-bottom:10px ;
    color: rgba(117, 117, 117, 1);
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.01em;
text-align: left;
margin-left: 10px;
}

input[type=checkbox] {
    width: 5mm;
    height: 5mm;
    border: 0.1mm solid black;
}

.input-display{
    display: flex;
    margin-top: 40px;
}

.main-a{
    text-decoration: none;
color: rgba(64, 112, 246, 1);
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-left: 160px;
}

.main-button{
    width: 478px;
    height: 66px;
    background-color: rgba(64, 112, 246, 1);
    margin: 0 auto;
    margin-top: 30px;
}

.main-h2{
font-size: 22px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: white;
text-align: center;
padding-top: 18px;
}

.main-under{
    display: flex;
    gap: 15px;
    margin-top: 40px;
    padding-left:115px;
}

.main-under-1{
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.04em;
text-align: left;
}

.main-under-2{
    color:rgba(64, 112, 246, 1) ;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.04em;
text-align: left;
}
